.account-container {
  margin-top: 75px;
}

.account-show {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.account-title {
  font-family: "Inter-Regular";
}

#account-header {
  padding: 30px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

#logout-button {
  margin-top: 30px;
  width: 130px;
  border-radius: 12px;
  padding: 12px 12px;
  background-color: #333;
  color: white;
  border-style: hidden;
}