@font-face {
  font-family: "Inter-ExtraLight";
  src: url("Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("Inter-Regular.ttf");
}

.app {
  background-color: white;
  font-family: "Inter-ExtraLight";
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: gray;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

img:hover {
  cursor: pointer;
}

/* temp */
.homepage {
  margin-top: 100px;
}