.menu {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.menu div {
  font-family: "Inter-Regular";
  color: rgb(173, 159, 121);
  margin: 5px;
}

.menu p {
  padding: 6px;
}

#menu-title {
  font-family: "Inter-Regular";
  font-weight: bold;
  font-size: 25px;
  padding: 30px;
}