#hidden-review-div {
  display: none
}

.edit-review-box {
  margin-top: 100px;
}

.reviews-index-box {
  padding-bottom: 55px;
}

#reviews-header {
  text-align: center;
  font-family: "Inter-Regular";
  font-size: 30px;
  margin-bottom: 20px;
}

.reviews-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.review-title-box {
  width: 400px;
  height: 40px;
}

.review-body-box {
  width: 400px;
  height: 150px;
}

.review-form-title {
  width: 100%;
  height: 100%;
}

.review-form-body {
  width: 100%;
  height: 100%;
}

.review-icon-box {
  background-color: #fff;
  border: none;
}

.review-button-icon {
  width: 20px;
  height: 23px;
}

.review-form-button {
  width: 405px;
  border-radius: 12px;
  padding: 10px 10px;
  background-color: #835836;
  color: #fff;
  border-style: hidden;
  margin-top: 5px;
}

.review-form div {
  padding: 8px;
}

textarea {
  font-family: "Inter-ExtraLight";
  font-size: 20px;
}

textarea::placeholder {
  font-family: "Inter-ExtraLight";
  font-size: 20px;
}

.posted-reviews {
  width: 550px;
  border-bottom: 2px solid rgb(210, 210, 210);
  margin-left: 40px;
  padding: 10px;
}

.posted-reviews div {
  padding: 5px;
}

#posted-review-title {
  font-size: 20px;
  font-family: "Inter-Regular";
}

.edit-review-box {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#no-reviews {
  margin-top: 90px;
  margin-left: 40px;
}

.star {
  width: 21px;
  height: 21px;
  padding-right: 2px;
}

.star-empty {
  width: 20px;
  height: 20px;
  padding-right: 2px;
}

.select-rating {
  padding-right: 10px;
  font-size: 18px;
}

.review-errors {
  padding: 4px;
  text-align: center;
  font-family: "Inter-Regular";
}