.session-form {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.session-form div {
  margin: 5px;
}

.session-form input {
  width: 200px;
  border: none;
  border-bottom: 1px solid black;
  padding: 15px 15px;
  margin: 5px;
  background-color: #dce7f3;
}

.login-form, .signup-form {
  text-align: center;
}

#session-button {
  width: 232px;
  border-radius: 12px;
  padding: 12px 12px;
  background-color: #333;
  color: white;
  margin-top: 10px;
}

#demo-button {
  width: 232px;
  border-radius: 12px;
  padding: 12px 12px;
  background-color: #333;
  color: white;
}

.session-question {
  font-size: 14px;
  color: gray;
}

#session-text {
  color: gray;
}

.session-errors {
  text-align: center;
}