.teas-index-container {
  margin-top: 75px;
  padding: 25px;
}

.teas-index-container > p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: gray;
}

.teas-index-grid {
  padding-top: 25px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  text-align: center;
}

.teas-index-img {
  width: 250px;
  height: 250px;
}

.teas-index-name {
  font-size: 20px;
  padding-top: 10px;
}

.tea-show-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}

.tea-show-left {
  display: flex;
  flex-direction: column;
}

.tea-show-right {
  background-color: rgb(245, 245, 245);
  width: 500px;
  height: 100%;
  margin-top: 20px;
}

.tea-show-right div {
  padding: 10px;
}

.inner-right {
  padding: 40px;
}

#brewing-guide, #tea-show-img {
  width: 500px;
  height: 500px;
  padding: 20px;
}

#tea-description {
  line-height: 1.5;
}

#select-a-size {
  width: 100%;
  border-radius: 12px;
  padding: 15px 15px;
  background-color: rgb(175, 175, 175);
  color: white;
  margin-bottom: 8px;
  border-style: hidden;
  pointer-events: none;
}

#add-to-cart {
  width: 100%;
  border-radius: 12px;
  padding: 15px 15px;
  background-color: #835836;
  color: white;
  margin-bottom: 8px;
  border-style: hidden;
}

#tea-show-name {
  font-size: 20px;
  font-family: "Inter-Regular";
  font-weight: bold;
}

#tea-show-price {
  font-size: 30px;
  font-family: "Inter-Regular";
  font-weight: bold;
}

#tea-show-size {
  font-size: 15px;
  margin-bottom: 5px;
}

.size-button {
  color: #333;
  width: 80px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
}

.size-button:hover {
  opacity: 1;
}

.size-button:focus {
  background-color: #333;
  color: white;
}